<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Employee Dashboard{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='employee/employee.css')}}">
</head>
<body>
<div class="d-flex">
    <nav class="sidebar">
        <div class="p-3">
            <h4 class="text-center mb-4"><i class="fa fa-truck me-2 text-warning"></i> E-Waste Crew</h4>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white active" href="{{ url_for('employee_dashboard') }}">
                        <i class="fa fa-list-check me-2"></i> Assigned Tasks
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('employee_history') }}">
                        <i class="fa fa-clock-rotate-left me-2"></i> Task History
                    </a>
                </li>
            </ul>
        </div>
        <div class="p-3 mt-auto border-top">
            <a href="{{ url_for('logout') }}" class="btn btn-sm btn-danger w-100">
                <i class="fa fa-sign-out me-2"></i> Logout
            </a>
        </div>
    </nav>
    <main class="content-wrapper w-100">
        <h3 class="mb-4 text-dark">{% block header_title %}Assigned Tasks{% endblock %}</h3>
        {% block content %}
        {% endblock %}
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='employee/js/employee.js') }}"></script>
</body>
</html>