<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Waste Recycling System</title>
    <!-- url path -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- google format links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>
    <!-- navbar -->
    <nav class="navbar">
        <!-- div class added -->
        <div class="container"></div>
        <h1><a></a> href="/" style="color: white; text-decoration: none;">E-Waste System </a></h1>
        <ul class=" nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <!-- button added -->
            <li><a href="/auth/login"class="btn btn-sm btn-secondary">Login</a></li>
        </ul>
    </nav>

    <main class="container">
        <!-- flash message block -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="message {{ category }}">{{ message }}</div>
        {%endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
        <p>&copy; 2025 E-Waste Recycling System. All rights reserved.</p>
        </div>
    </footer>

    <!-- js src added -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
